<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <a href="/">Hjem!</a>
        <% names.forEach(name => { %>
        <p>Jeg kjenner noen ved navnet <%= name %></p>
        <% }) %>

        <hr />

        <% if (fact) { %>
        <h1>Hello World</h1>
        <% } %> <%= req.sfsrf %>
    </body>
</html>
